 .course-main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 40px;
}

.course {
    margin: auto;
    max-width: 320px !important;
    background-color: #fefefe !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    border: 1px solid #d4e2f3;
}

.card-media {
    width: 85% !important;
    margin: 20px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.card-content {
    padding: 0px 20px 8px 20px !important;
}

.subheading-all-courses {
    font-family: "Rubik";
    color: #1a2d41;
    display: flex;
    justify-content: center;
}

.card-title {
    font-family: "Rubik" !important;
    color: #0f2239;
    font-weight: 500 !important;
}

.tag-beginner {
    width: 80px;
    background-color: #e4f6fe;
    color: #2066b2;
    font-family: "Rubik";
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px;
}

.card-desc {
    font-family: "Rubik" !important;
}

.price-and-symb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0px 5px;
}

.price {
    color: #1a2d41;
    font-family: "Rubik";
    width: 80px;
}

.course-price {
    font-family: Arial, Helvetica, sans-serif !important;
    width: 80px;
    color: rgb(32, 117, 37);
    text-align: center;
}

.card-actions {
    padding: 13px 0px !important;
}

.button {
    font-family: "Rubik" !important;
    width: 100%;
    border-radius: 8px !important;
}

/* mobile responsiveness */

@media(max-width:970px) {
    .course-main {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 30px;
    }
    
    .course {
        margin: auto;
        max-width: 320px;
        background-color: #fefefe;
        border-radius: 9px !important;
    }
    

}

@media(max-width:820px) {
    .course-main {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 30px;
    }

}

@media(max-width:768px) {
    
    .course-main {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 25px;
    }
}

@media(max-width:690px) {
    
    .course-main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        padding: 20px;
    }
}

@media(max-width:480px) {
    
    .course-main {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding: 20px;
    }
}