.header {
    width: 100%;
}

.title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: #1a2d41;
    padding: 10px 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

@media(max-width:600px) {
    .title {
        font-size: 30px;
    }
}